.a-Tag {
    position: relative;
    color: blue;
    font-size:larger;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.circle {
    width: 32px; /* Adjust size as needed */
    height: 32px; /* Adjust size as needed */
    border-radius: 50%; /* This makes it a circle */
    background-color: #39f066; /* Background color of the circle */
    display:inline-flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0); 
}


.ui-tooltip-content{ /* for content inside */
    color: black;
    background-color: #fff;
    
}

.ui-tooltip{ /* for container */
    background-color: #fff;
}